.NotFound {
  padding-top: 250px;
  font-size: 20px;
  text-align: center;
}
.text-center {
  text-align: center;
}

.width-60 {
  width: 60%;
}

.mt-15 {
  margin-top: 15px;
}

.alert-popup {
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  .flex-right {
    width: 25%;
    margin-top: 40px;
  }
  .flex-left {
    width: 75%;
  }
}

.MuiToolbar-regular.toolbar-table {
  min-height: 45px;
  justify-content: flex-end;
}

.loading-table {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &.width-100 {
    width: 100px;
  }
  &.width-250 {
    width: 250px;
  }
}

.icon-text {
  display: flex;
  align-items: center;
}

.chat-room-detail {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .nav-chat-room-detail {
    height: 30%;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;

    .buttons {
      margin: 0 20px;
    }
    .button-group {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .content-chat-room-detail {
    margin: 15px;
    margin-top: 20px;
    width: 80%;
    justify-items: center;
  }
}
.container-detail-chatroom {
  display: flex;
  width: 100%;
  .right-detail-chatroom {
    width: 50%;
    height: 100%;
    padding-bottom: 10px;
    .content-detail-admin {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .detail-admin {
        width: 90%;
      }
    }
  }
  .left-detail-chatroom {
    width: 50%;
    height: 100%;
    padding-bottom: 10px;
    .content-detail-admin {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .detail-admin {
        width: 90%;
      }
    }
  }
}
