.kegiatan-list {
    padding: 20px 0 0 0;
}
.MuiButton-contained.btn-tambah-kegiatan{
    width: 100%;
    height: 45px;
    // background-color: #28a745;
    // &:hover{
    //     background-color: #218838;
    // }
}
.MuiFormControl-root.radio-button{
    margin-top: 15px;
    &.jenkel{
        width: 50%;
    }
    &.activity{
        width: 50%;
    }
}
.MuiFormControl-root.select-dropdown{
    margin-top: 15px;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    .tableactivity {
        margin: auto;
        width: 91%;
        .table-cell{
            word-wrap: break-word;
            &.middle-cell{
                text-align: center;
            }
        }
    }
}

.filter-content{
    flex-direction: column;
    display: flex;
    .filter-input{
        width: 100%;
        height: 50px;
    }
    .filter-button{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        .tableactivity {
            margin: auto;
            width: 100%;
        }
        .flex-right {
            width: 100%;
        }
        .flex-left {
            margin-top: 15px;
            width: 100%;
        }
    }
}