.container-list-admin{
    width: 100%;
    .btn-tambah-akun-admin{
        margin: 20px 10px;
        float: right;
    }
    .content-list-admin{
        clear: both;
        margin-top: 10px;

    }
}